*.md filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.html !text !filter !merge !diff
*.css !text !filter !merge !diff
*.js !text !filter !merge !diff
*.png !text !filter !merge !diff
videoer/01epsdeltbedre.mp4 filter=lfs diff=lfs merge=lfs -text
